process {
    withName: BCFTOOLS_QUERY {
        ext.args = "-f '%CHROM\t%POS\t%REF,%ALT\t%INFO\n'"
    }

    withName: BCFTOOLS_ROH {
        ext.args = "--AF-dflt 0.4"
    }

    withName: GAWK_SPLIT_RG {
        ext.suffix = 'rg'
    }

    withName: GAWK_SPLIT_ST {
        ext.suffix = 'st'
    }

    withName: BGZIPTABIX_RG {
        ext.args2 = '-s 3 -b 4 -e 5'
    }

    withName: BGZIPTABIX_ST {
        ext.args2 = '-s 3 -b 4 -e 4'
    }
}
