/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'TABIX' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FEATURES:VCFTOOLS_SITE_PI' {
        ext.args = {
            "--site-pi ${params.site_pi_filter ?: ''}" +
            (params.include_positions ? ' --positions' :
             params.exclude_positions ? ' --exclude-positions' : '')
        }
    }

    withName: '.*:FEATURES:VCFTOOLS_HET' {
        ext.args = { "--het ${params.het_filter ?: ''}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FEATURES:VCFTOOLS_SNP_DENSITY' {
        ext.args = { "--SNPdensity ${params.snp_density_window} ${params.snp_density_filter ?: ''}" }
    }

    withName: '.*:FEATURES:VCFTOOLS_ALLELE_FREQUENCY' {
        ext.args = { "--freq ${params.af_filter ?: ''}" }
    }

    withName: '.*:FEATURES:VCFTOOLS_INDEL_LENGTH' {
        ext.args = { "--hist-indel-len ${params.indel_len_filter ?: ''}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FEATURES:BGZIPTABIX_PI' {
        ext.args2 = '-b 2 -e 2 -S 1'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:FEATURES:BGZIPTABIX_SD' {
        ext.args2 = '-b 2 -e 2 -S 1'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:FEATURES:BGZIPTABIX_AF' {
        ext.args2 = '-b 2 -e 2 -S 1'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:AF_ROH:BCFTOOLS_QUERY' {
        ext.args = { "-f '%CHROM\t%POS\t%REF,%ALT\t%INFO\n'" }
    }

    withName: '.*:AF_ROH:BCFTOOLS_ROH' {
        ext.args = { "--AF-dflt ${params.roh_threshold} ${params.roh_filter ?: ''}" }
    }

    withName: '.*:AF_ROH:BCFTOOLS_ROHVIZ' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:AF_ROH:BGZIPTABIX_AF_FILE' {
        ext.args2 = '-b 2 -e 2 -S 1'
    }

    withName: '.*:AF_ROH:GAWK_SPLIT_RG' {
        ext.suffix = 'rg'
    }

    withName: '.*:AF_ROH:GAWK_SPLIT_ST' {
        ext.suffix = 'st'
    }

    withName: '.*:AF_ROH:BGZIPTABIX_RG' {
        ext.args2 = '-s 3 -b 4 -e 5'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:AF_ROH:BGZIPTABIX_ST' {
        ext.args2 = '-s 3 -b 4 -e 4'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*:BCFTOOLS_STATS_PLOT:PLOTVCFSTATS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: '*.pdf'
        ]
    }

    withName: '.*:BCFTOOLS_STATS_PLOT:TAR' {
        ext.prefix = { "${meta.id}.plot-vcfstats" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BCFTOOLS_STATS_PLOT:PIGZ' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".html") ? filename : null }
        ]
    }

}
